@model Nhom7_webTourdulich.Models.Tour
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<body>
<main>
<h2>Xóa Tour</h2>

<p>Are you sure you want to delete this tour?</p>

<div>
    <strong>Tour Name: </strong> @Model.Ten
</div>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" name="id" value="@Model.MaTour" />
    <button type="submit" class="btn btn-danger">Yes, delete it</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
</form>
</body>
</main>